<div *ngIf="!isFieldOnEditMode" class="dnd-field-edit-container" [ngStyle]="{display: visibility}">
    <div class="dnd-field-edit">
        <button
        color="primary"
        mat-icon-button
        class="icon-display edit"
        title="Edit Field"
        (click)="edit()"
        >
        <mat-icon>edit</mat-icon>
        </button>
        <button
        color="primary"
        mat-icon-button
        class="icon-display delete"
        title="Delete Field"
        (click)="delete()"
        >
        <mat-icon>delete</mat-icon>
        </button>
    </div>


</div>
