<!-- TODO add search icon -->
<div data-testid="home" fxLayoutAlign="left" class="ft-lm-search-for-field">
    <mat-form-field fxFlex="40%">
        <input
            matInput
            type="text"
            (keyup)="doFilter($event)"
            placeholder="Search licenses by key string, customer or product..."
        />
    </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="key">
        <mat-header-cell *matHeaderCellDef mat-sort-header>License Key</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.key}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status ? 'active': 'inactive'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="expiry">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Expiry</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.expiry | date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Product</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.product.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="account">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Customer</mat-header-cell>
        <!-- <mat-cell *matCellDef="let element">{{element.account.first_name}} {{element.account.last_name}}</mat-cell> -->
        <mat-cell *matCellDef="let element">{{element.account.first_name}} {{element.account.last_name}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<!-- TODO sticky paginator to the right bottom -->
<mat-paginator
    [pageSize]="20"
    [pageSizeOptions]="[5, 10, 20, 30,40]"
>

</mat-paginator>