.top {
    height: 300px;
    border: 1px solid #ffa600;
}
.bottom {
    height: 300px;
    border: 1px solid #d0ff00;
}

.dnd-field {
    display: flex;
    height: 30px;
    width: max-content;
    align-content: center;
    border: 1px solid #ddd;
    border-radius: 5px
}

.dnd-field > div {
    display: flex;
    align-items: center; 
}

.dnd-field .dnd-field-icon {
    width: 30px;
    justify-content: center;
}
.dnd-field .dnd-field-content {
    width: 100px;
}
// .dnd-field .dnd-field-content span {
//     // display: inline-block;
//     // vertical-align: middle;
// }

.many2class {
    color: red;
}

// .shadow {
//     border: 1px solid #ffa600;
// }

#unique_id {
//     border: 2px dashed #2B916A;
//   background-color: #E1F1EA;
    border: 2px dashed #2DCA72;
  background-color: #a4f5c7;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  color: #049c46;
}

.gu-transit {
    display: none;
  }