<p data-testid="home">home works</p>
<div>
    <div class="wrapper">
      <!-- <div class="container top right" dragula="VAMPIRES">
        <div>You can move these elements between these two containers</div>
        <div class="dnd-field">
          <div class="dnd-field-icon icon-select-type-cursor"></div>
          <div class="dnd-field-content"><span>Form Field</span></div>
        </div>
        <div>Moving them anywhere else isn't quite possible</div>
        <div>There's also the possibility of moving elements around in the same container, changing their position</div>
      </div>
      <div class="container bottom" dragula="VAMPIRES">
        <div>This is the default use case. You only need to specify the containers you want to use</div>
        <div>More interactive use cases lie ahead</div>
        <div class="to-remove">Make sure to check out the <a href="https://github.com/bevacqua/dragula#readme">documentation on GitHub!</a></div>
        <div *ngFor="let person of left">{{person | json}}</div>
      </div>
    </div> -->

    <div class='container top' [dragula]="MANY_ITEMS" [(dragulaModel)]='many'>
      <!-- <div *ngFor='let text of many' >
        <span *ngIf="text.type === 'image'">image</span>
      </div> -->
      <div class="dnd-field" *ngFor='let text of many'>
        <div class="dnd-field-icon icon-select-type-cursor"></div>
          <div [ngClass]="'dnd-field-content'+ ' ' + text.type"><span>{{text.name}}</span></div>
      </div>
  </div>
  <div class='container bottom' [dragula]="MANY_ITEMS" [(dragulaModel)]='many2'>
      <div *ngFor='let text of many2' [innerHtml]='text.content'></div>
  </div>
  </div>