.entity-container {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.entity-item {
    margin: 10px 0;
    .entity-title {
        margin-right: 15px;
        font-size: 12px;
    }
    .entity-content {
        font-weight: 500;
    }
}