<div class="builder-container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="builder-canvas">
      <div class="ft-lm-primary-fields">
        <div class="ft-lm-edit-field">
          <mat-form-field fxFill [formGroup]="myForm">
            <input
              formControlName="key"
              matInput
              type="text"
              placeholder="Key"
              
            />
            <!-- [(ngModel)]="license.key" -->
          </mat-form-field>
        </div>
        <div class="ft-lm-edit-field">
          <div fxFill style="padding: 0 0 20px 0">
            <div>
              <mat-label class="ft-lm-label">Status</mat-label>
            </div>
            <mat-slide-toggle
              formControlName="status"
            
              >{{ license.status ? "active" : "inactive" }}
            </mat-slide-toggle>
          </div>
        </div>
        <div class="ft-lm-edit-field">
          <mat-form-field fxFill [formGroup]="myForm">
            <input
              formControlName="type"
              matInput
              type="text"
              placeholder="Type"
              
            />
          </mat-form-field>
        </div>
        <div class="ft-lm-edit-field">
          <mat-form-field fxFill [formGroup]="myForm">
            <input
              formControlName="description"
              matInput
              type="text"
              placeholder="Description"
           
            />
          </mat-form-field>
        </div>
        <div class="ft-lm-edit-field">
          <mat-form-field fxFill [formGroup]="myForm">
            <input
              formControlName="expiry"
              matInput
              type="text"
              placeholder="Expiry"
           
            />
          </mat-form-field>
        </div>
        <div class="ft-lm-edit-field">
          <mat-form-field fxFill appearance="fill" [formGroup]="myForm">
            <mat-label>Select a client</mat-label>
            <!-- <mat-select [(value)]="clientSelected" placeholder="Select a client"> -->
            <mat-select formControlName="client">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let client of clients" [value]="client.id">
                {{ client.first_name }} {{ client.last_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="ft-lm-edit-field">
          <mat-form-field fxFill appearance="fill" [formGroup]="myForm">
            <mat-label>Select a product</mat-label>
            <!-- <mat-select [(value)]="clientSelected" placeholder="Select a client"> -->
            <mat-select formControlName="product">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let product of products" [value]="product.id">
                {{ product.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button type="submit" [disabled]="myForm.invalid">Save</button>
      </div>
    </div>
  </form>
</div>
