<!-- <div class="field_container" [ngClass]="{ ongoing: field.isOngoing }"> -->
<div class="field_container">
  <app-confirm-field-edit *ngIf="field.isOngoing" [field]="field"></app-confirm-field-edit>

  <div
    class="ft-lm-edit-field"
    (mouseenter)="visibility = 'inline-block'"
    (mouseleave)="visibility = 'none'"
  >
    <mat-form-field fxFill [formGroup]="group">
      <input
        [formControlName]="field.name"
        matInput
        [type]="field.inputType"
        [placeholder]="field.label"
  
      />
      <!-- [(ngModel)]="field.value" -->
      <ng-container
        *ngFor="let validation of field.validations"
        ngProjectAs="mat-error"
      >
        <mat-error *ngIf="group.get(field.name)?.hasError(validation.name)">{{
          validation.message
        }}</mat-error>
      </ng-container>
    </mat-form-field>
    <!-- <app-dnd-field-edit [visibility]="visibility" [field]="field"></app-dnd-field-edit> -->
    <app-dnd-field-edit [visibility]="visibility" [field]="field"></app-dnd-field-edit>
  </div>
</div>
