<!-- <div class="field_container" [ngClass]="{ ongoing: field.isOngoing }"> -->
<div class="field_container">
  <app-confirm-field-edit
    *ngIf="field.isOngoing"
    [field]="field"
    [group]="group"
    [index]="index"
  ></app-confirm-field-edit>

  <div
    class="ft-lm-edit-field"
    (mouseenter)="visibility = 'inline-block'"
    (mouseleave)="visibility = 'none'"
  >
    <mat-form-field fxFill [formGroup]="group">
      <ng-container formArrayName="form_element_fields">
        <ng-container [formGroupName]="index">
          {{log('------------ index -------------')}}
          {{log(index)}}
          <input
            formControlName="input"
            matInput
            [type]="field.inputType"
            [placeholder]="formElement.value.name"
          />
          <!-- [(ngModel)]="field.value" -->
          <ng-container
            *ngFor="let validation of field.validations"
            ngProjectAs="mat-error"
          >
            <mat-error
              *ngIf="group.get(field.name)?.hasError(validation.name)"
              >{{ validation.message }}</mat-error
            >
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-form-field>
    <!-- <app-dnd-field-edit [visibility]="visibility" [field]="field"></app-dnd-field-edit> -->
    <app-dnd-field-edit
      [visibility]="visibility"
      [field]="field"
    ></app-dnd-field-edit>
  </div>
</div>
