<mat-sidenav-container>
  <mat-sidenav
    mode="over"
    [(opened)]="isOpened01"
    #sidenav01
    role="edit content"
    class="test-side-nav"
    position="end"
  >
  <router-outlet name="edit" (activate)="isOpened01 = true" (deactivate)="isOpened01 = false"></router-outlet> 
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-sidenav-container id="mat-sidenav-container-primary-view">
      <mat-sidenav mode="side" [(opened)]="isOpened" #sidenav role="navigation">
        <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
