<div class="field_container">
  <app-confirm-field-edit
    *ngIf="field.isOngoing"
    [field]="field"
  ></app-confirm-field-edit>

  <div *ngIf="field.isOngoing" class="field-element-body">
    <div class="option-field" *ngFor="let optionElement of options">
      <!-- <div class="option-field" *ngFor="let item of field.options"> -->
      <!-- <input type="text" value="{{item}}" /> -->
      <!-- <input type="text" value="{{ optionElement.name }}" /> -->
      <input type="text" [(ngModel)]="optionElement.name" />
      <button
        class="option-field-icon icon-delete"
        title="Delete Option"
      ></button>
    </div>
  </div>

  <div class="option-field-add" *ngIf="field.isOngoing">
    <button class="option-field-icon icon-add" title="Add Option"></button>
    <span>Add option</span>
  </div>

  <!-- <div class="ft-lm-edit-field">
    <mat-form-field fxFlex="500px" [formGroup]="group">
      <label class="radio-label-padding">{{ field.label }}:</label>
      <mat-radio-group [formControlName]="field.name">
        <mat-radio-button *ngFor="let item of field.options" [value]="item">{{
          item
        }}</mat-radio-button>
      </mat-radio-group>
    </mat-form-field>
  </div> -->
  <div
    class="ft-lm-edit-field"
    [formGroup]="group"
    (mouseenter)="visibility = 'inline-block'"
    (mouseleave)="visibility = 'none'"
  >
    <!-- <label class="radio-label">{{ field.label }}:</label> -->
    <div>
      <mat-label class="ft-lm-label">{{ field.label }}</mat-label>
    </div>
    <div class="ft-lm-field">
      <mat-radio-group [formControlName]="field.name">
        <!-- <mat-radio-button *ngFor="let item of field.options" [value]="item">
          {{ item }}
        </mat-radio-button> -->
        <mat-radio-button *ngFor="let optionElement of options" [value]="optionElement.name">
          {{ optionElement.name }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <app-dnd-field-edit
      [visibility]="visibility"
      [field]="field"
    ></app-dnd-field-edit>
  </div>
</div>
