<div class="field_container">
  <app-confirm *ngIf="field.isOngoing" [field]="field"></app-confirm>

  <!-- <div class="ft-lm-edit-field">
    <mat-form-field fxFlex="500px" [formGroup]="group">
      <label class="radio-label-padding">{{ field.label }}:</label>
      <mat-radio-group [formControlName]="field.name">
        <mat-radio-button *ngFor="let item of field.options" [value]="item">{{
          item
        }}</mat-radio-button>
      </mat-radio-group>
    </mat-form-field>
  </div> -->
  <div class="ft-lm-edit-field" [formGroup]="group">
    <!-- <label class="radio-label">{{ field.label }}:</label> -->
    <div>
      <mat-label class="ft-lm-label">{{ field.name }}</mat-label>
    </div>
    <div class="ft-lm-field">
      <mat-radio-group [formControlName]="field.name">
        <mat-radio-button *ngFor="let item of field.options" [value]="item">
          {{ item }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
