<div class="field_container">
  <app-confirm-field-edit
    *ngIf="field.isOngoing"
    [field]="field"
    [group]="group"
    [index]="index"
  ></app-confirm-field-edit>
  <!-- {{log('from checkbox component html')}}
  {{log(formElement?.value['selected_list_value'])}}
  {{log('index')}}
  {{log(index)}} -->
  <div [formGroup]="group" *ngIf="field.isOngoing">
    <!-- <div [formGroup]="group" *ngIf="false"> -->
    <div formArrayName="form_element_fields">
      <ng-container [formGroupName]="index">
        <div class="field-element-body" formArrayName="form_element_options">
          <div
            class="option-field"
            *ngFor="let option of options?.controls; let i = index"
          >
            <ng-container [formGroupName]="i">
              <div class="option-field-and-icon-container">
                <input formControlName="name" type="text" />
                <button
                  class="option-field-icon icon-delete"
                  title="Delete Option"
                  (click)="deleteOption(i); $event.preventDefault()"
                ></button>
              </div>
              <ng-container *ngFor="let validation of data.validations">
                <!-- (option?.controls.name.dirty ||
              option?.controls.name.touched) && -->
                <div
                  class="single-selection-error"
                  *ngIf="option?.get('name')?.hasError(validation.name)"
                >
                  {{ validation.message }}
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="option-field-add" *ngIf="field.isOngoing">
    <button
      class="option-field-icon icon-add"
      title="Add Option"
      (click)="addOption(); $event.preventDefault()"
    ></button>
    <span>Add option</span>
  </div>

  <div
    class="ft-lm-edit-field"
    (mouseenter)="visibility = 'inline-block'"
    (mouseleave)="visibility = 'none'"
  >
    <div>
      <mat-label class="ft-lm-label">{{ formElement?.value.name }}</mat-label>
    </div>
    <!-- <div
      class="ft-lm-field checkbox"
      [formGroup]="group"
      *ngIf="isControlsAdded"
    > -->
    <!-- <div class="ft-lm-field checkbox" [formGroup]="group" *ngIf="test()"> -->
    <div class="ft-lm-field checkbox" [formGroup]="group">
      <!-- <ng-container formArrayName="form_element_fields" *ngIf="false"> -->
      <ng-container formArrayName="form_element_fields">
        <!-- {{log('index')}}
        {{log(index)}} -->
        <ng-container [formGroupName]="index">
          <!-- <ng-container formGroupName="0"> -->
          <!-- {{ log("index") }}
          {{ log(index) }}
          {{ log('group.value["form_element_fields"][index]') }}
          {{ log(group.value["form_element_fields"][index]) }}
          {{
            log('getFormElement().value')
          }}
          {{
            log(getFormElement().value.selected_list_value)
          }}
          {{
            log(test())
          }} -->
          <!-- <ng-container formGroupName="selected_list_value" *ngIf="getOptions()?.value"> -->
          <ng-container formGroupName="selected_list_value">
            <ng-container
              *ngFor="let option of getOptions()?.value; index as i"
            >
              <div class="checkbox-label">
                <mat-checkbox *ngIf="option.name" [formControlName]="option.name">{{
                  option.name
                }}</mat-checkbox>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <app-dnd-field-edit
      [visibility]="visibility"
      [field]="field"
    ></app-dnd-field-edit>
  </div>
</div>
