<div class="field_container">
  <app-confirm-field-edit
    *ngIf="field.isOngoing"
    [field]="field"
  ></app-confirm-field-edit>

  <div
    class="ft-lm-edit-field"
    (mouseenter)="visibility = 'inline-block'"
    (mouseleave)="visibility = 'none'"
  >
    <div class="ft-lm-field checkbox" [formGroup]="group">
      <mat-checkbox [formControlName]="field.name">{{
        field.label
      }}</mat-checkbox>
    </div>
    <app-dnd-field-edit
      [visibility]="visibility"
      [field]="field"
    ></app-dnd-field-edit>
  </div>
</div>
