<div class="field_container">
  <app-confirm-field-edit
    *ngIf="field.isOngoing"
    [field]="field"
  ></app-confirm-field-edit>

  <div
    class="ft-lm-edit-field"
    (mouseenter)="visibility = 'inline-block'"
    (mouseleave)="visibility = 'none'"
  >
    <mat-form-field
      fxFill
      appearance="fill"
      class="demo-full-width margin-top"
      [formGroup]="group"
    >
      <mat-label>{{ field.label }}</mat-label>
      <mat-select [formControlName]="field.name">
        <mat-option *ngFor="let item of field.options" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-dnd-field-edit [visibility]="visibility"></app-dnd-field-edit>
  </div>
</div>
