/* You can add global styles to this file, and also import other style files */
@use '~@angular/material/theming' as material;

@include material.mat-core();
$workshop-primary: material.mat-palette(material.$mat-cyan);
$workshop-accent: material.mat-palette(material.$mat-pink);

$workshop-theme: material.mat-light-theme(
    (
        color: (
        primary: $workshop-primary,
        accent: $workshop-accent,
    )
    )
);

@include material.angular-material-theme($workshop-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-table {
    margin: 0 40px 0 50px;
}

mat-header-row {
    border-bottom: none !important;
    // border-top: 1px solid #ffa600;
    background-color: #F7F7F8;
    border-radius: 5px;
    min-height: 45px !important;
    margin-bottom: 10px;
}

mat-header-row div {
    font-weight: 400;
    font-size: 13px;
    color: #6E6B84;
}

mat-row {
    border-bottom: none !important;
    // border-top: 1px solid #ffa600;
}
