/* You can add global styles to this file, and also import other style files */
@use "~@angular/material/theming" as material;

@include material.mat-core();
$light-green: (
    50 : #fbfce8,
    100 : #f5f8c6,
    200 : #eff3a0,
    300 : #e8ee79,
    400 : #e3ea5d,
    500 : #dee640,
    600 : #dae33a,
    700 : #d5df32,
    800 : #d1db2a,
    900 : #c8d51c,
    A100 : #ffffff,
    A200 : #fcffd7,
    A400 : #f8ffa4,
    A700 : #f6ff8b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
// below defines your custom color to build a theme palette from
// $workshop-primary: material.mat-palette(material.$mat-brown);
$workshop-primary: material.mat-palette(material.$mat-grey);
// $workshop-primary: material.mat-palette($light-green);
$workshop-accent: material.mat-palette(material.$mat-green);

$workshop-theme: material.mat-light-theme(
  (
    color: (
      primary: $workshop-primary,
      accent: $workshop-accent,
    ),
  )
);

@include material.angular-material-theme($workshop-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon/icomoon.eot?79ahl9');
  src:  url('assets/fonts/icomoon/icomoon.eot?79ahl9#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon/icomoon.ttf?79ahl9') format('truetype'),
    url('assets/fonts/icomoon/icomoon.woff?79ahl9') format('woff'),
    url('assets/fonts/icomoon/icomoon.svg?79ahl9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
  content: "\e900";
}
.icon-select_from_list:before {
  content: "\e903";
}
.icon-multiple_selection:before {
  content: "\e904";
}
.icon-single_selection:before {
  content: "\e905";
}
.icon-password:before {
  content: "\e906";
}
.icon-text:before {
  content: "\e907";
}
.icon-email:before {
  content: "\e902";
}
.icon-drag:before {
  content: "\e901";
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

mat-table {
  margin: 0 40px 0 50px;
}

mat-header-row {
  border-bottom: none !important;
  // border-top: 1px solid #ffa600;
  // background-color: #F7F7F8;
  // background-color: #f7f4ec;
  background-color: #F7F7F8;
  border-radius: 5px;
  min-height: 45px !important;
  margin-bottom: 10px;
}

mat-header-row div {
  font-weight: 500;
  font-size: 13px;
  // color: #6E6B84;
  // color: #000;
  // color: #683e1f;
  color: #545454;
}

mat-row {
  border-bottom: none !important;
  // border-top: 1px solid #ffa600;
}

.mat-row:hover {
  // background-color: rgb(249 171 0 / 20%);
  // background-color: #faf9f4;
  background-color: #f7f7f8;
}

.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  // flex: 0 0 28% !important;
  // flex: 100px !important;
  flex: 0 0 16px;
  // width: 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

//   mat-table mat-icon {
//       color: #ADACBA;
//   }

/***********************/
/******* Builder *******/
/***********************/



.many2class {
  color: red;
}

// .shadow {
//     border: 1px solid #ffa600;
// }

.drop-here {
  //     border: 2px dashed #2B916A;
  //   background-color: #E1F1EA;
  //     color: #2DCA72;
  //     border: 2px dashed #2DCA72;
  //   background-color: #edfdf4;
  display: block;
  // color: #009cf7;
  // border: 2px dashed #009cf7;
  color: #0b5ed7;
  border: 2px dashed #0b5ed7;
  // color: #0054f7;
  // border: 2px dashed #0054f7;
  // color: #0090f7;
  // border: 2px dashed #0090f7;
  background-color: rgb(247, 249, 255);
  margin-bottom: 17px;
  padding: 10px;
  text-align: center;
  // width: 100%;
  border-radius: 4px;
}

// .gu-transit {
//     display: none;
//   }

/***********************/
/***** Builder End *****/
/***********************/

// .bigbog {
//   border: 2px solid red;
// }

// .dnd-host {
//   display: block;
// }

.ongoing {
  // .ongoing {
    display: block;
  // border: 2px solid #0054f7;
  // border: 2px solid #009cf7;
  border: 2px solid #0b5ed7;
  padding: 17px;
  margin-bottom: 17px;
  border-radius: 5px;
}

// .field_container {
//   padding-bottom: 17px;
// }

.ft-lm-field {
  padding-bottom: 17px;
}

.ft-lm-edit-field {
  // background-color: aquamarine;
  position: relative;
}
// .ft-lm-edit-field:after {
//   top: 0px;
//   left: 0;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: transparent;
//   content: "";

//   display: block;
//   z-index: 100;
// }
// .ft-lm-edit-field:hover:after {
//   background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
// }

// .ft-lm-edit-field:hover {
//   background-color: orange;
// }
