@use "sass:color";
// Brand color:
$primary-color: #2200ff;
$primary-text-color: #ffffff;
$secondary-color: #ffda00;
$secondary-text-color: #000000;
// Base color:
$body-bg-color: #2200ff;
$body-text-color: #ffffff;
$body-border-color: #2200ff;
$body-link-color: #2200ff;
$body-link-hover-color: #2200ff;
@function primary-color($lightness-level: 0%) {
    @return color.scale($primary-color, $lightness: $lightness-level);
  }
@function primary-text-color($alpha: 100%) {
    @return rgba($primary-text-color, $alpha);
  }
@function secondary-color($lightness-level: 0%) {
    @return color.scale($secondary-color, $lightness: $lightness-level);
  }