<div class="field-element-header">
  <div class="field-label-container"><input [(ngModel)]="field.label" /></div>
  <div class="btns">
    <!-- // FIXME label keep modified content -->
    <button
      class="confirm-btn cancel"
      (click)="onFieldEditCanceled(); $event.preventDefault()"
    >
      cancel
    </button>
    <button
      class="confirm-btn save"
      [disabled]="!group.valid"
      (click)="onFieldEditSaved(); $event.preventDefault()"
    >
      save
    </button>
  </div>
</div>