.field-element-header {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px 0;
}

.field-label-container {
  display: flex;
  align-items: center;
  input {
    padding: 7px;
    width: 100%;
    outline: none;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.2s ease all;
    color: #7e7e7e;
    &:focus {
      border-color: #0d6efd;
    }
  }
}

.btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}

.confirm-btn {
  margin-left: 10px;
  cursor: pointer;
  outline: 0;
  color: #000;
  background-color: #ececec;
  border-color: #ececec;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: #000;
    background-color: #dddddd;
    border-color: #dddddd;
  }
  &:disabled {
    cursor: auto;
    color: #b1b1b1;
    background-color: #f9f9f9;
    border-color: #ececec;
    &:hover {
      color: #b1b1b1;
    background-color: #f9f9f9;
    border-color: #ececec;
    }
  }
}
.save {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  &:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
}
