@import '~src/assets/styles/_variables.scss';
// a {
//     text-decoration: none;
//     color: white;
// }

// a:hover, a:active {
//     color: lightgrey;
// }

// .nav-caption {
//     display: inline-block;
//     padding-left: 6px;
// }

.ft-lm-logo {
    width:40px;
    height:40px;
    // height: auto;
    margin-left: 24px;
    image-rendering: auto;
    // position:relative
}

#svg {
    // position: absolute;
    color: #795548;
    fill: #795548;
}

#layer1 {
    // fill: #7a663d;
    fill: #795548;
}
#svg27089 {
    // fill: #7a663d;
    fill: #795548;
}
#g25788 {
    // fill: #b7b7b7;
    fill: $primary-color;
    // fill: #7a663d;
    // fill: #795548;
}

.active {
    // background-color: #ededed !important;
    background-color: primary-color() !important;
    // background-color: #e1e1e1 !important;
    // color: #0b5ed7;
    color: $primary-text-color;
}

// .nav-list-for-models {
//     // margin-top: 70px;
//     // background-color: #e0e0e0;
// }

.nav-list-for-models a {
    font-size: 14px;
    font-weight: 500;
}
.nav-list-for-models a:nth-of-type(1) {
    height: 100px;
}

.nav-list-for-models a span {
    padding-left: 20px;
}
